<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/agency.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body style="background-color: #24bbff">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class=" center col-md-10 col-md-offset-1">
      <div class="panel panel-default" style="background-color: white">
        <div class="panel-body">
          <div class="text-center">
            <h3 class="text-center" style="color: #E85C99">About the project "Certified"</h3>
            <p class="text-left" style="color:#24bbff ">The goal is to implement a platform that anyone can have free access to and verify
              documents through the blockchain. The users of this platform are the main user or recruiter who wants to verify
              a certificate through the blockchain and the admin user or company who can manage subscriptions. This platform will
              help each individual to have a legit verification for the documents he needs and saves him time because the old certification
              methods are very time-consuming and demanding. Finally, the primary tasks of the project is to develop a platform-webapp that is
              usable, creat understandable documentations and functional-adaptive code.</p>
            <p style="color: #E85C99; font-weight: bold">Link to Project code:<a style="color: #24bbff; font-weight: bold" href="https://github.com/damianosp7/Certified">GitHub</a></p>
            <div class="panel-body">
              <h4 class="text-left" style="color: #f6bf01">What is blockchain?</h4>
              <p style="color: #24bbff" class="text-left">A blockchain is a public digital ledger of transactions that records information in a way that makes it difficult to hack or alter. The technology allows a secure way for individuals to deal directly with each other, without an intermediary like a government, bank or other third party.</p>
              <h4 class="text-left" style="color: #f6bf01">Benefits of verifying documents through blockchain?</h4>
              <p class="text-left" style="color: #24bbff">1. Trust </p>
              <p class="text-left" style="color: #24bbff">2. Security </p>
              <p class="text-left" style="color: #24bbff">3. Simplicity</p>
              <p class="text-left" style="color: #24bbff">4. Integrity </p>
              <p class="text-left" style="color: #24bbff">5. Privacy </p>

              <br>
              <br>
              <h4 class="text-left" style="color: #f6bf01">Apis that we work with?</h4>
              <p class="text-left"><a style="color: #24bbff; font-weight: bold" href="http://qualichain.epu.ntua.gr/">Qualichain</a></p>
              <p class="text-left"><a style="color: #24bbff; font-weight: bold" href="https://www.blockcerts.org/">BlockCerts</a></p>
<!--              <p style="color: #000000">-Qualichain</p>-->
<!--              <p style="color: #000000">-BlockCerts</p>-->
              <h4 class="text-center" style="color: #E85C99">Guide how to use</h4>
              <h4 class="text-left" style="color: #f6bf01; font-weight: bold">Step 1 </h4>
              <p class="text-left" style="color: #24bbff">Choose an Api to verify your document. (BlockCerts or Qualichain) </p>
              <h4 class="text-left" style="color: #f6bf01; font-weight: bold">Step 2 </h4>
              <p class="text-center" style="color: #24bbff; font-weight: bold">BlockCerts</p>
              <p class="text-left" style="color: #24bbff">-Upload a .json format file. </p>
              <p class="text-center" style="color: #24bbff; font-weight: bold">Qualichain</p>
              <p class="text-left" style="color: #24bbff"> - Input the address of the account used to upload the certificate
                ("0x2CefB619218825C0c670D8E77f7039e0693E1dDC" by default) . </p>
              <p class="text-left" style="color: #24bbff">             - Input the civil ID. The Civil ID should be the same as the name of the certificate (pdf file) (e.g., 12345678) </p>
              <p class="text-left" style="color: #24bbff">             - Select the certificate to validate (e.g., 12345678.pdf)</p>
              <h4 class="text-left" style="color: #f6bf01; font-weight: bold">Step 3 </h4>
              <p class="text-left" style="color: #24bbff">Click the verify button! </p>
              <h4 class="text-left" style="color: #f6bf01; font-weight: bold">Step 4 </h4>
              <p class="text-left" style="color: #24bbff">If the verification is successful you can save the document by clicking the save button! Otherwise try again with different api this time..   </p>
              <p>
                <img src="img/true.png" alt="Smiley face" style="float:left;width:420px;height:300px;">
                <img src="img/false.png" alt="Smiley face" style="float:right;width:420px;height:300px;">
              </p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navigation User -->
<nav class="navbar navbar-default navbar-fixed-top" sec:authorize="hasAnyAuthority('ROLE_USER')">
  <div class="container" style="display: inline">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">Certified</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="display: inline">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="breadcrumb-item" href="/user">My Account</a>
        </li>
        <li>
          <a class="breadcrumb-item" href="/operation/user">My Documents</a>
        </li>
        <li>
          <a class="breadcrumb-item" href="/about">About</a>
        </li>
        <li>
          <a class="breadcrumb-item" href="/contact">Contact</a>
        </li>
        <li>
          <a class="breadcrumb-item" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/cbpAnimatedHeader.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/agency.js"></script>


</body>
</html>