<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hovermenu.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link  rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>


    <!--Sweet Alert-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: #24bbff">
<!--&lt;!&ndash;Here starts the ADMIN menu html&ndash;&gt;-->
<!--<div id="mySidebar" class="sidebar" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>-->
<!--    &lt;!&ndash;    <a th:href="@{/user/{username}(username = ${#authentication.name})}">MyAccount</a>&ndash;&gt;-->
<!--    <a href="/user">MyAccount</a>-->
<!--    <a href="/users">UsersAccounts</a>-->
<!--    &lt;!&ndash;    <a th:href="@{/operation/user/{username}(username = ${#authentication.name})}">MyHistory</a>&ndash;&gt;-->
<!--    <a href="/operation/user">MyHistory</a>-->
<!--    <a href="/operation/users">UsersHistory</a>-->
<!--    <a href="/">Calculator</a>-->
<!--    <a href="/logout">Logout</a>-->
<!--</div>-->

<!--&lt;!&ndash;Here starts the USER menu html&ndash;&gt;-->
<!--<div id="mySidebar" class="sidebar" sec:authorize="hasAnyAuthority('ROLE_USER')">-->
<!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>-->
<!--    &lt;!&ndash;    <a th:href="@{/user/{username}(username = ${#authentication.name})}">MyAccount</a>&ndash;&gt;-->
<!--    <a href="/user">MyAccount</a>-->
<!--    &lt;!&ndash;    <a th:href="@{/operation/user/{username}(username = ${#authentication.name})}">MyHistory</a>&ndash;&gt;-->
<!--    <a href="/operation/user">MyHistory</a>-->
<!--    <a href="/">Calculator</a>-->
<!--    <a href="/logout">Logout</a>-->
<!--</div>-->

<!--<div id="main">-->
<!--    <button class="openbtn" onclick="openNav()">☰</button>-->
<!--</div>-->

<!--<script>-->
<!--    function openNav() {-->
<!--        document.getElementById("mySidebar").style.width = "250px";-->
<!--        document.getElementById("main").style.marginLeft = "250px";-->
<!--    }-->

<!--    function closeNav() {-->
<!--        document.getElementById("mySidebar").style.width = "0";-->
<!--        document.getElementById("main").style.marginLeft = "0";-->
<!--    }-->

<!--</script>-->
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container my-2">
    <h1 style="color: white;">Operations List</h1>
    <a th:href="@{/operation/clear}" class="btn btn-primary btn-sm mb-3 delete" > Clear History </a>
    <script>
        $('.delete').on('click',function (e){
            e.preventDefault();
            let self = $(this);
            console.log(self.data('title'));
            Swal.fire({
                title: 'Are you sure you want to delete all your history?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                            title:'Deleted!',
                            text:'Your history has been deleted.',
                            icon:'success',
                            showConfirmButton: false,
                        }
                    )
                    location.href =  self.attr('href');
                }
            })
        })
    </script>
    <table id="history_table" class="table table-borderless table-responsive-md" style="width: 100%; background-color: white; border-radius:25px; ">
        <thead style="background-color: #fec503; color:white; border-radius: 25px">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Timestamp</th>
            <th>Download Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc : ${docs}">
            <td th:text="${doc.id}"></td>
            <td th:text="${doc.docName}"></td>
            <td th:text="${doc.timestamp}"></td>
            <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Navigation User -->
<nav class="navbar navbar-default navbar-fixed-top" sec:authorize="hasAnyAuthority('ROLE_USER')">
    <div class="container" style="display: inline">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" >Certified</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="display: inline">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="breadcrumb-item" href="/user">My Account</a>
                </li>
                <li>
                    <a  class="breadcrumb-item" href="/operation/user">My Documents</a>
                </li>
                <li>
                    <a  class="breadcrumb-item" href="/logout">Logout</a>
                </li>
<!--                <li>-->
<!--                    <a class="page-scroll" href="">Contact</a>-->
<!--                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Navigation Admin -->
<nav class="navbar navbar-default navbar-fixed-top" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
    <div class="container" style="display: inline">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" >Certified</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="display: inline">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
<!--                <li>-->
<!--                    <a class="breadcrumb-item" href="/user">My Account</a>-->
<!--                </li>-->
                <li>
                    <a href="/users">Users Accounts</a>
                </li>
                <li>
                    <a  class="breadcrumb-item" href="/operation/user">My Documents</a>
                </li>
                <li>
                    <a href="/operation/users">Users Documents</a>

                </li>
                <li>
                    <a  class="breadcrumb-item" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>




<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/agency.js"></script>

<script>
    let table = $('#history_table').DataTable({
        language: {
            searchPlaceholder: "Search records",
            search: "" },
        initComplete : function() {
            let input = $('.dataTables_filter input').unbind(),
                self = this.api(),
                $searchButton = $('<button>')
                    .text('search')
                    .click(function() {
                        self.search(input.val()).draw();
                    }),
                $clearButton = $('<button>')
                    .text('clear')
                    .click(function() {
                        input.val('');
                        $searchButton.click();
                    })
            $('.dataTables_filter').append($searchButton, $clearButton);
        }
    })
</script>
<style>
    .dataTables_filter {
        color: black;
        background-color: white;
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
        background-position: left center;
    }
    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
        background-position: 5px center;
    }
    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px 10px 28px;
    }
</style>
</body>
</html>