<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <meta charset="ISO-8859-1">
    <title>Registration Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body style="background-color: #24bbff">

<!-- create navigation bar ( header) -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--  <div class="container">-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" class="navbar-toggle collapsed"-->
<!--              data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--              aria-controls="navbar">-->
<!--        <span class="sr-only">Toggle navigation</span> <span-->
<!--              class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--              class="icon-bar"></span>-->
<!--      </button>-->
<!--      <a class="navbar-brand" href="#" th:href="@{/}">Registration and-->
<!--        Login Module</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1 style="color: white">Registration</h1>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName" style="color: white"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}"
                         th:errors="*{firstName}"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName" style="color: white"> Last Name </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"
                        required autofocus="autofocus"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}"
                         th:errors="*{lastName}"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email" style="color: white"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password" style="color: white"> Password </label> <input
                        id="password" class="form-control" type="password" name="password" onchange='check_pass();'
                        th:field="*{password}" required autofocus="autofocus"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>

                <div>
                    <label class="control-label" style="color: white">Confirm Password </label>
                    <input type="password" name="confirm_password" id="confirm_password" onchange='check_pass();'
                           class="form-control"/>
                    <span id='message'></span>
                </div>
                <br>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="submit" disabled>Register</button>
                    <span style="color: white">Already registered? <a href="/" th:href="@{/login}"
                                                                      style="color: #F18F0C"><strong>Login
            here</strong></a></span>
                </div>
            </form>
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered!</div>
            </div>
            <div th:if="${param.fail}">
                <div style="background-color: #ffc2da" class="alert alert-info">Username and/or Password are not
                    valid..
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function check_pass() {
        if (document.getElementById('password').value === document.getElementById('confirm_password').value) {
            document.getElementById('submit').disabled = false;
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Matching Passwords!';
        } else {
            document.getElementById('submit').disabled = true;
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Passwords are not matching..';
        }
    }
</script>
</body>
</html>
