<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
    <meta charset="UTF-8">
    <title>Successful Registration</title>
<!--    <script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="webjars/bootstrap/4.0.0-alpha.2/js/bootstrap5.min.js"></script>-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #24bbff">
<br>
<br>
<br>
<div class="container align-content-lg-center">
    <div class="alert alert-success" style="object-position: center">
        <strong>Success!</strong> You've successfully registered!
    </div>
    <a th:href="@{/login}" class="btn btn-primary"> Back to Login</a>
</div>

</body>
</html>